
@media all and (max-width: 1200px) {
    
    .portada-items .foto img{
        width: 500px;
    }
}

@media all and (max-width: 992px) {
    
    .portada-items .foto img{
        width: 290px;
    }
}

@media all and (max-width: 768px) {
    
    .aboutme .bio{
        margin-top: -5.256rem;
    }
}

@media all and (max-width: 1011px) {

    header .menu {
        display: none;
    }

    header .icono {
        display: flex;
        align-self: center;
        margin-right: 1.326rem;
        font-size: 1.556rem;
        color: #f24333;
    }
}