
@media all and (max-width: 479px) {
    .portada .portada-items{
        margin-left: 0;
    }
    .portada-items h1{
        margin-left: 0;
        font-size: 4.8rem;
    }

    .portada .portada-items .sub-texto h2{
        margin-right: 0;
    }
}

@media all and (max-width: 576px) {
   
    .portada .portada-items .sub-texto h2{
        margin-right: 3.956rem;
    }
}

@media all and (max-width: 768px) {
   
    .portada .portada-items .sub-texto h2{
        margin-right: 3.956rem;
    }

    .aboutme .bio {
        margin-top: -7.256rem;
    }
}

@media all and (max-width: 992px) {
    .portada {
        background-position: center;
        background-position: cover;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    
    .portada .portada-items {
        margin-left: 4.256rem;
    }

    .portada .portada-items .sub-texto{
        margin-right: 4.556rem;
    }
}

@media all and (max-width: 1011px) {

    header .menu {
        display: none;
    }

    header .icono {
        display: flex;
        align-self: center;
        margin-right: 1.326rem;
        font-size: 1.556rem;
        color: #f24333;
    }
}