* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: white;
}


/* -------------- CABECERA -------------- */

header {
    position: sticky;
    top: 0;
    left: 0;
    background: #011627;
    height: 80px;
    width: 100%;
    display: flex;
    padding: 10px;
    text-align: center;
    z-index: 99;
    justify-content: space-between;
}

header span {
    font-family: 'Lobster', cursive;
    font-size: 37px;
    padding: 0.126rem 1.526rem;
    color: #edf2ef;
}

.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 1.326rem;
}

.menu a {
    text-decoration: none;
    padding: 1.256rem 2.256rem;
    color: rgba(237, 242, 239, 0.5);
    font-weight: 700;
    transition: all .3s ease-in-out;
}

.menu a:hover {
    color: #edf2ef;
}

/* MENU MOVIL */

.icono {
    display: none;
}

.contenedor-movil {
    display: none;
}

/* ------------------------ PORTADA --------------------------------- */

.portada {
    width: 100%;
    height: 80vh;
    margin: auto;
    background-color: white;
}

.contenedor {
    width: 100%;
    height: 100%;
    display: flex;
    margin: auto;
}

.portada-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: left;
    background-image: url('../img/setup.gif');
    background-repeat: no-repeat;
    background-position: cover;
    background-position: right;
}

.portada-items .titulo-texto {
    margin-top: 7.256rem;
    margin-left: 10%;
}

.portada-items h1 {
    color: #f24333;
    font-family: 'Lobster', cursive;
    font-size: 6.265rem;
    text-shadow: 6px 8px 6px #011627;
}

.portada-items .sub-texto {
    color: #150578;
    font-family: 'Architects Daughter';
    font-weight: bold;
    align-self: flex-end;
    margin-left: 10%;
    margin-bottom: 1.256rem;
}

.avatar {
    width: 150px;
    height: 150px;
    margin-top: 0.256rem;
    margin-left: -10.256rem;
    padding: 1.656rem;
    position: absolute;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}


/* ------------------------ SCROLL ---------------------- */

.scroll {
    width: 100%;
    height: 40px;
}

.scroll .contenedor {
    display: flex;
    justify-content: center;
}

.scroll a {
    text-decoration: none;
}

.scroll .btn {
    background-color: rgba(0, 0, 0, 0.1);
}

.scroll.btn:focus {
    outline: none;
    box-shadow: none;
}

.btn-scroll-down {
    padding: 2px;
    border: 1px solid #f24333;
    border-radius: 10px;
}

.btn-scroll-down:before {
    display: block;
    position: relative;
    left: 0;
    right: 0;

    content: " ";
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    animation-name: scrollDown;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes scrollDown {
    0% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}