* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: white;
}


/* -------------- CABECERA -------------- */

header {
    position: sticky;
    top: 0;
    left: 0;
    background: #011627;
    height: 80px;
    width: 100%;
    display: flex;
    padding: 10px;
    text-align: center;
    z-index: 99;
    justify-content: space-between;
}

header span {
    font-family: 'Lobster', cursive;
    font-size: 37px;
    padding: 0.126rem 1.526rem;
    color: #edf2ef;
}

.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 1.326rem;
}

.menu a {
    text-decoration: none;
    padding: 1.256rem 2.256rem;
    color: rgba(237, 242, 239, 0.5);
    font-weight: 700;
    transition: all .3s ease-in-out;
}

.menu a:hover {
    color: #edf2ef;
}

/* MENU MOVIL */

.icono {
    display: none;
}

.contenedor-movil {
    display: none;
}

/* ------------------------ PORTADA --------------------------------- */

.portada {
    width: 100%;
    height: 90vh;
    background-image: url('../img/setup.gif');
    background-repeat: no-repeat;
    background-position: cover;
    background-position: right;

    display: flex;
    justify-content: center;
}

.portada-items {
    align-items: center;
    padding-top: 4.656rem;
}

.portada-items .titulo-texto {
    align-self: flex-start;
    margin-top: 5.556rem;
}

.portada-items h1 {
    margin-left: 2.256rem;
    color: #f24333;
    font-family: 'Lobster', cursive;
    font-size: 5.265rem;
    text-shadow: 6px 8px 6px #011627;
}

.portada-items .sub-texto {
    align-self: flex-end;
    text-align: right;
}

.portada-items .sub-texto h2 {
    color: #0a023b;
    font-family: 'Architects Daughter';
    font-weight: bold;
    font-size: 20px;
    margin-right: 5.256rem;
}


/* ------------------------ SCROLL ---------------------- */

.scroll {
    text-align: center;
    margin-top: -0.756rem;
}

.scroll a {
    text-decoration: none;
}

.btn-scroll-down:before {
    display: block;
    position: relative;
    left: 0;
    right: 0;
    content: "\e915";
    font-family: "Porfolio";
    font-size: 50px;
    color: #f24333;
    animation-name: scrollDown;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

/* ------------------------ ABOUT ME ---------------------- */

.aboutme {
    width: 100%;
    background: #0a023b;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.aboutme-items {
    height: 100%;
    align-items: center;
}

.aboutme .foto {
    display: flex;
    justify-content: center;
}

.aboutme .foto img {
    width: 260px;
    height: 260px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.aboutme .bio {
    align-self: center;
    color: rgba(237, 242, 239, 0.7);
}

.aboutme .bio p {
    letter-spacing: 4px;
    text-align: justify;
}