* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.progress {
  padding: 0;
  margin: 0;
}
.category {
  padding: 0;
  margin: 10px 0 0 0;
  font-weight: bold;
}
.forma-datos {
  padding: 4.625rem 0;
  background: white;
}
.forma-datos .container .titulo-seccion h2 {
  font-family: 'Poppins', serif;
  text-align: center;
  font-weight: 900;
  font-size: 56px;
}
.forma-datos .container .contenedor-forma {
  margin-top: 2.5rem;
}
.forma-datos .container .contenedor-forma .encabezado {
  font-weight: 600;
  font-family: 'Poppins', serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.forma-datos .container .contenedor-forma .encabezado li {
  margin-top: 1.25rem;
}
.forma-datos .container .contenedor-forma .encabezado li a {
  font-size: 0.985rem;
  padding: 0 1.4375rem 1.125rem 1.4375rem;
  display: block;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  border-bottom: 2px solid transparent;
}
.forma-datos .container .contenedor-forma .encabezado li a:hover {
  color: #f24333;
  text-decoration: none;
}
.forma-datos .container .contenedor-forma .encabezado li.active a {
  color: #f24333;
  border-bottom: 3px solid #f24333;
}
.forma-datos .container .contenedor-forma .contenido {
  max-width: 90rem;
  margin: 0 auto;
  margin-top: 2.5rem;
  border: 3px solid rgba(119, 119, 119, 0.5);
  padding: 1.25rem 2.25rem;
  background: rgba(237, 242, 239, 0.3);
}
.forma-datos .container .contenedor-forma .contenido > div {
  display: none;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.forma-datos .container .contenedor-forma .contenido .active {
  display: block;
}
.forma-datos .container .contenedor-forma .contenido .item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.75rem 0;
}
.forma-datos .container .contenedor-forma .contenido .item .row {
  width: 100%;
  display: flex;
}
.forma-datos .container .contenedor-forma .contenido .item .row .vineta {
  width: 4%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.forma-datos .container .contenedor-forma .contenido .item .row .vineta i {
  font-size: 20px;
  color: #007BFF;
}
.forma-datos .container .contenedor-forma .contenido .item .row .descrip {
  width: 96%;
}
.forma-datos .container .contenedor-forma .contenido .item .row .descrip h3 {
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 0.625rem;
}
.forma-datos .container .contenedor-forma .contenido .item .row .descrip p {
  margin-bottom: 0.256rem;
  font-size: 1rem;
  color: #777777;
}
